{% extends 'base/base.html' %}
{% block content %}
<h1 class="text-gray-600 text-3xl font-bold mb-6 mx-auto text-center">Sign Up Form</h1>
<div class="flex justify-center">
    <form action="{% url 'account_signup' %}" method="post" class="w-full max-w-lg bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4">
        {% csrf_token %}
        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="id_username">
                Username
            </label>
            <input
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                type="text" name="username" placeholder="Username" autocomplete="username" minlength="1" maxlength="150"
                required id="id_username">
        </div>

        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="id_email">
                Email (optional)
            </label>
            <input
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                type="email" name="email" placeholder="Email address" autocomplete="email" maxlength="320"
                id="id_email">
        </div>

        <div class="mb-4">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="id_password1">
                Password
            </label>
            <input
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                type="password" name="password1" placeholder="Password" autocomplete="new-password" required
                id="id_password1">
            <span class="text-gray-600 text-xs italic"></span>
        </div>

        <ul class="text-gray-600 text-sm mb-4">
            <li>Your password can't be too similar to your other personal information.</li>
            <li>Your password must contain at least 8 characters.</li>
            <li>Your password can't be a commonly used password.</li>
            <li>Your password can't be entirely numeric.</li>
        </ul>

        <div class="mb-6">
            <label class="block text-gray-700 text-sm font-bold mb-2" for="id_password2">
                Password (again)
            </label>
            <input
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                type="password" name="password2" placeholder="Password (again)" autocomplete="new-password" required
                id="id_password2">
        </div>

        <div class="flex items-center justify-between">
            <button
                class="bg-blue-300 hover:bg-blue-400 text-black font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
                type="submit">
                Submit
            </button>
        </div>
    </form>
</div>
<div class="text-center">
    <p> Already have an account ? <a class="text-blue-700 underline" href="{%url 'account_login' %}"> Login Now</a></p>
</div>
{% endblock %}